form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    /*background-color: #CC3300;*/
    max-width: 500px;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
